{% load staticfiles %}
<h3 style="text-align:center">这是404页面</h3>
<h3 style="text-align:center">這是404頁面</h3>
<h3 style="text-align:center">This is a 404 page</h3>
<h3 style="text-align:center">Ceci est une page 404</h3>
<h3 style="text-align:center">これは404ページです</h3>
<h3 style="text-align:center">Это 404 страница</h3>
<h3 style="text-align:center">Esta es una página 404</h3>
<h3 style="text-align:center">100011111101100111001100010111100110100001100000011010010011000011101011001011101100010</h3>
<img src="{% static 'img/500.jpg' %}"  alt="上海鲜花港 - 郁金香" />